@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  html {
    font-family: E-Ukraine, system-ui, sans-serif;
  }
}
:root {
  --check-size: 90px;
  --check-border-width: 5px;
  --checkmark-width: calc(var(--check-size) / 2);
  --checkmark-height: calc(var(--checkmark-width) / 2);
  --checkmark-left: calc(var(--checkmark-width) / 2);
  --checkmark-top: 50%;
  --checkmark-color: #027dd7;
}
@font-face {
  font-family: 'e-Ukraine';
  font-style: normal;
  font-weight: 100;
  src: local(''), url('../fonts/e-Ukraine-Thin.woff') format('woff');
}
@font-face {
  font-family: 'e-Ukraine';
  font-style: normal;
  font-weight: 200;
  src: local(''), url('../fonts/e-Ukraine-UltraLight.woff') format('woff');
}
@font-face {
  font-family: 'e-Ukraine';
  font-style: normal;
  font-weight: 300;
  src: local(''), url('../fonts/e-Ukraine-Light.woff') format('woff');
}
@font-face {
  font-family: 'e-Ukraine';
  font-style: normal;
  font-weight: 400;
  src: local(''), url('../fonts/e-Ukraine-Regular.woff') format('woff');
}
@font-face {
  font-family: 'e-Ukraine';
  font-style: normal;
  font-weight: 500;
  src: local(''), url('../fonts/e-Ukraine-Medium.woff') format('woff');
}
@font-face {
  font-family: 'e-Ukraine';
  font-style: normal;
  font-weight: 600;
  src: local(''), url('../fonts/e-Ukraine-Bold.woff') format('woff');
}
@font-face {
  font-family: 'e-Ukraine Head';
  font-style: normal;
  font-weight: 100;
  src: local(''), url('../fonts/e-UkraineHead-Thin.woff') format('woff');
}
@font-face {
  font-family: 'e-Ukraine Head';
  font-style: normal;
  font-weight: 200;
  src: local(''), url('../fonts/e-UkraineHead-UltraLight.woff') format('woff');
}
@font-face {
  font-family: 'e-Ukraine Head';
  font-style: normal;
  font-weight: 300;
  src: local(''), url('../fonts/e-UkraineHead-Light.woff') format('woff');
}
@font-face {
  font-family: 'e-Ukraine Head';
  font-style: normal;
  font-weight: 400;
  src: local(''), url('../fonts/e-UkraineHead-Regular.woff') format('woff');
}
@font-face {
  font-family: 'e-Ukraine Head';
  font-style: normal;
  font-weight: 500;
  src: local(''), url('../fonts/e-UkraineHead-Medium.woff') format('woff');
}
@font-face {
  font-family: 'e-Ukraine Head';
  font-style: normal;
  font-weight: 600;
  src: local(''), url('../fonts/e-UkraineHead-Bold.woff') format('woff');
}
