@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'e-Ukraine';
  font-style: normal;
  font-weight: 100;
  src: local(''), url('/public/fonts/e-Ukraine-Thin.otf') format('otf');
}
@font-face {
  font-family: 'e-Ukraine';
  font-style: normal;
  font-weight: 200;
  src: local(''), url('/public/fonts/e-Ukraine-UltraLight.otf') format('otf');
}
@font-face {
  font-family: 'e-Ukraine';
  font-style: normal;
  font-weight: 300;
  src: local(''), url('/public/fonts/e-Ukraine-Light.otf') format('otf');
}
@font-face {
  font-family: 'e-Ukraine';
  font-style: normal;
  font-weight: 400;
  src: local(''), url('/public/fonts/e-Ukraine-Regular.otf') format('otf');
}
@font-face {
  font-family: 'e-Ukraine';
  font-style: normal;
  font-weight: 500;
  src: local(''), url('/public/fonts/e-Ukraine-Medium.otf') format('otf');
}
@font-face {
  font-family: 'e-Ukraine';
  font-style: normal;
  font-weight: 600;
  src: local(''), url('/public/fonts/e-Ukraine-Bold.otf') format('otf');
}
@font-face {
  font-family: 'e-Ukraine Head';
  font-style: normal;
  font-weight: 100;
  src: local(''), url('/public/fonts/e-UkraineHead-Thin.otf') format('otf');
}
@font-face {
  font-family: 'e-Ukraine Head';
  font-style: normal;
  font-weight: 200;
  src: local(''), url('/public/fonts/e-UkraineHead-UltraLight.otf') format('otf');
}
@font-face {
  font-family: 'e-Ukraine Head';
  font-style: normal;
  font-weight: 300;
  src: local(''), url('/public/fonts/e-UkraineHead-Light.otf') format('otf');
}
@font-face {
  font-family: 'e-Ukraine Head';
  font-style: normal;
  font-weight: 400;
  src: local(''), url('/public/fonts/e-UkraineHead-Regular.otf') format('otf');
}
@font-face {
  font-family: 'e-Ukraine Head';
  font-style: normal;
  font-weight: 500;
  src: local(''), url('/public/fonts/e-UkraineHead-Medium.otf') format('otf');
}
@font-face {
  font-family: 'e-Ukraine Head';
  font-style: normal;
  font-weight: 600;
  src: local(''), url('/public/fonts/e-UkraineHead-Bold.otf') format('otf');
}
